body
{
    background-color: #ccc;
}

h1
{
    color: #00f;
    background-color: #00ff00;
    margin-left: 30px;
}

p
{
    color: rgb(255, 0, 0);
    color: rgb(0, 255, 0);
    color: rgb(0, 0, 255);
}